{% extends "camille/base.html" %}

{% block content %}
<h2>Profile - <a href="{% url 'profile_update' %}">edit</a> - <a href="{% url 'password_change' %}">change password</a>
</h2>
<p>
    username: {{ request.user.username }}<br>
    first name: {{ request.user.first_name }}<br>
    last name: {{ request.user.last_name }}<br>
</p>

<h2>Agent</h2>
<h3>Configuration - <a href="{% url 'agent_config_update' %}">edit</a></h3>
<p>
    model: {{ request.user.agent_config.model }}<br>
    personality: {{ request.user.agent_config.personality.name|default:"None" }}<br>
    instructions: {{ request.user.agent_config.instructions|default:"None" }}<br>
    notes: {{ request.user.agent_config.notes|default:"None" }}<br>
</p>


<h3>Personalities - <a href="{% url 'agent_personality_create' %}">create</a></h3>
<p>
<ul>
    {% for personality in request.user.personalities.all|dictsort:"name" %}
    <li>{{ personality.name }} - {{ personality.description }} (<a
            href="{% url 'agent_personality_update' personality.id %}">edit</a> | <a
            href="{% url 'agent_personality_delete' personality.id %}">delete</a>)</li>
    {% endfor %}
</ul>
</p>

<h2>Credentials</h2>
<p>
    Anthropic:
    {% if request.user.anthropic_credentials %}
    <a href="{% url 'anthropic_credentials_update' %}">edit</a>
    -
    <a href="{% url 'anthropic_credentials_delete' %}">delete</a>
    {% else %}
    <a href="{% url 'anthropic_credentials_create' %}">create</a>
    {% endif %}<br>

    AWS Bedrock:
    {% if request.user.awsbedrock_credentials %}
    <a href="{% url 'awsbedrock_credentials_update' %}">edit</a>
    -
    <a href="{% url 'awsbedrock_credentials_delete' %}">delete</a>
    {% else %}
    <a href="{% url 'awsbedrock_credentials_create' %}">create</a>
    {% endif %}<br>

    Gateway:
    {% if request.user.gateway_credentials %}
    <a href="{% url 'gateway_credentials_update' %}">edit</a>
    -
    <a href="{% url 'gateway_credentials_delete' %}">delete</a>
    {% else %}
    <a href="{% url 'gateway_credentials_create' %}">create</a>
    {% endif %}<br>

    GoogleGLA:
    {% if request.user.googlegla_credentials %}
    <a href="{% url 'googlegla_credentials_update' %}">edit</a>
    -
    <a href="{% url 'googlegla_credentials_delete' %}">delete</a>
    {% else %}
    <a href="{% url 'googlegla_credentials_create' %}">create</a>
    {% endif %}<br>

    Mistral:
    {% if request.user.mistral_credentials %}
    <a href="{% url 'mistral_credentials_update' %}">edit</a>
    -
    <a href="{% url 'mistral_credentials_delete' %}">delete</a>
    {% else %}
    <a href="{% url 'mistral_credentials_create' %}">create</a>
    {% endif %}<br>

    OpenRouter:
    {% if request.user.openrouter_credentials %}
    <a href="{% url 'openrouter_credentials_update' %}">edit</a>
    -
    <a href="{% url 'openrouter_credentials_delete' %}">delete</a>
    {% else %}
    <a href="{% url 'openrouter_credentials_create' %}">create</a>
    {% endif %}<br>
</p>

<h2>Mattermost</h2>
<p>
    Linked user id: {{ request.user.mm_binding.mm_id|default:"None" }} {% if request.user.mm_binding %}(<a
        href="{% url 'mattermost_unbind' %}">unbind</a>){% endif %}<br>
</p>
{% endblock %}