GEMINI_API_KEY=""
AWS_ACCESS_KEY_ID=
AWS_DEFAULT_REGION=eu-central-1
AWS_SECRET_ACCESS_KEY=
CAMILLE_MODEL=""
MATTERMOST_HOST=""
MATTERMOST_ACCESS_TOKEN=""
TAVILY_API_KEY=""
SECRET_KEY="insecure-secret-key-for-development"