services:
  pg18:
    image: "postgres:18"
    environment:
      POSTGRES_DB: "camille"
      POSTGRES_USER: "camille"
      POSTGRES_PASSWORD: "camille"
    volumes:
      - "pg18_data:/var/lib/postgresql/18/docker

  web:
    image: "killruana/camille:main"
    restart: "always"
    ports:
      - "8000:8000"
    environment:
      - "ALLOWED_HOSTS=camille.jtremesay.org"
      - "DATABASE_URL=postgres://camille:camille@pg18/camille"
      - "SECRET_KEY"
      - "LOGFIRE_TOKEN"
    depends_on:
      - "pg18"

  mattermost:
    image: "killruana/camille:main"
    restart: "always"
    command: "manage.py mattermost"
    environment:
      - "ALLOWED_HOSTS=camille.jtremesay.org"
      - "DATABASE_URL=postgres://camille:camille@pg18/camille"
      - "SECRET_KEY"
      - "LOGFIRE_TOKEN"
    depends_on:
      - "pg18"

volumes:
  pg18_data: