services:
  pg17:
    image: "postgres:17"
    environment:
      POSTGRES_DB: "camille"
      POSTGRES_USER: "camille"
      POSTGRES_PASSWORD: "camille"
    volumes:
      - "pg17_data:/var/lib/postgresql/data"

  mattermost:
    image: "killruana/camille:main"
    command: "manage.py mattermost"
    environment:
      - "MATTERMOST_HOST=https://mattermost.jtremesay.org"
      - "MATTERMOST_API_TOKEN_FILE=camille_mattermost_api_token"
      #- "AGENT_MODEL=google-gla:gemini-flash-latest"
      #- "AGENT_MODEL=google-gla:gemini-3-flash-preview"
      - "AGENT_MODEL=mistral:mistral-medium-latest"
      - "GOOGLE_API_KEY_FILE=google_api_key"
      - "MISTRAL_API_KEY_FILE=mistral_api_key"
      - "TAVILY_API_KEY_FILE=tavily_api_key"
      - "ALLOWED_HOSTS=camille.jtremesay.org"
      - "DATABASE_URL=postgres://camille:camille@pg17/camille"
      - "SECRET_KEY_FILE=camille_secret_key"
      - "LOGFIRE_TOKEN_FILE=camille_logfire_token"
    secrets:
      - "camille_mattermost_api_token"
      - "google_api_key"
      - "mistral_api_key"
      - "tavily_api_key"
      - "camille_secret_key"
      - "camille_logfire_token"

volumes:
  pg17_data:

secrets:
  camille_mattermost_api_token:
    external: true
  camille_secret_key:
    external: true
  google_api_key:
    external: true
  mistral_api_key:
    external: true
  tavily_api_key:
    external: true
  camille_logfire_token:
    external: true
