[project]
name = "camille"
version = "6.0.0"
description = "An AI assistant for Mattermost"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "channels[daphne]>=4.3.1",
    "daphne>=4.2.1",
    "dj-database-url>=3.0.1",
    "django>=5.2.5",
    "httpx-ws>=0.7.2",
    "httpx[brotli,http2,zstd]>=0.28.1",
    "logfire[asgi,django,httpx,psycopg,sqlite3,wsgi]>=4.3.1",
    "psycopg[binary]>=3.2.9",
    "pydantic-ai-slim[bedrock,google,mistral,tavily]>=0.7.0",
    "python-dotenv>=1.1.1",
    "tzdata>=2025.3",
    "whitenoise[brotli]>=6.9.0",
]

[dependency-groups]
dev = ["ipython>=9.4.0"]

[build-system]
requires = ["uv_build>=0.9.25,<0.10.0"]
build-backend = "uv_build"
