[project]
name = "camille"
version = "6.0.0"
description = "An agent"
requires-python = ">=3.14"
dependencies = [
    "clai>=1.44.0",
    "django>=6.0.1",
    "django-ninja>=1.5.3",
    "pydantic-ai-slim[bedrock,logfire]>=1.44.0",
    "python-dotenv>=1.2.1",
]

[build-system]
requires = ["uv_build>=0.9.25,<0.10.0"]
build-backend = "uv_build"
