channels==4.1.0
Django==5.0.6
daphne==4.1.2 
dj-database-url==2.2.0
google-generativeai==0.7.2
meteofrance-api==1.3.0 
openai==1.35.1
psycopg[binary]==3.1.19 
slixmppbot==2.0.4
whitenoise[brotli]==6.7.0